@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "KumbhsLight";
    src: url("../assets/fonts/Kumbh_Sans/KumbhSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "KumbhsBold";
    src: url("../assets/fonts/Kumbh_Sans/KumbhSans-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "RobotoRegular";
    src: url("../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "RobotoBold";
    src: url("../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "SpaceRegular";
    src: url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "SpaceBold";
    src: url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: #1E213F;
}

.circle {
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}
